<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'NaNoWriMeter', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.github_username %><span class="caret"></span></a>
          <ul class="dropdown-menu">
	          <li><%= link_to 'Settings', user_settings_path(current_user) %></li>
	          <li><%= link_to 'My Snippets', user_snippets_path(current_user) %></li>
	          <li><%= link_to "Get today's work", user_snippets_path(current_user), method: 'post' %></li>
            <li><%= link_to "Word Frequency", user_word_frequency_path(current_user) %></li>
          </ul>
        </li>
	     <% else %>
		     <li><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></li>
		     <li><%= link_to("Development sign in", dev_sign_in_path, method: 'post') if Rails.env.development? %></li>
	     <% end %>
      </ul>
    </div>
  </div>
</nav>